<div class="container">

<% @pages = [@note_page, @edit_note, @verify]  %>
<% unless @pages.include?(true) %>

<h1>Welcome to Noter!</h1>
<%= erb :new_note %>
<br/><br/>
<%= erb :all_notes %>
<%end%>

<%= erb :note if @note_page == true %>
<%= erb :edit_note if @edit_note == true %>
<%= erb :verify_deletion if @verify == true %>


</div>

